In [98]:
import pandas as pd
import numpy as np
import glob 
import re
import pickle

In [99]:
out_prefix = '../../oligos/results/oligo_1/counts_combined/oligo_1_10mers_combined'
data_dir = '../../oligos/results/oligo_1/counts/'
k = 10

In [100]:
files = glob.glob(f'{data_dir}/*{k}mer*')
files

['../../oligos/results/oligo_1/counts/oligo_1_1w_rep3_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_0w_rep7_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_bg_rep6_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_3w_rep6_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_0w_rep1_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_1w_rep5_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_bg_rep7_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_0w_rep6_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_1w_rep2_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_3w_rep1_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_3w_rep7_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_1w_rep4_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_bg_rep1_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_3w_rep2_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_0w_rep5_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_bg_rep4_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_1w_rep1_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_1w_rep7_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_bg_rep2_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_0w_rep3_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_3w_rep4_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_3w_rep3_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_bg_rep5_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_0w_rep4_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_0w_rep2_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_bg_rep3_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_1w_rep6_10mers_counts.csv',
 '../../oligos/results/oligo_1/counts/oligo_1_3w_rep5_10mers_counts.csv']

In [101]:
len(files)

28

In [103]:
df = pd.read_csv(files[0])
df

             node1      node2    count
0        AAAACAAAA  AAACAAAAA  1851355
1        GATAGCTGA  ATAGCTGAG   935158
2        GCGATAGCT  CGATAGCTG   935029
3        TAGCTGAGA  AGCTGAGAG   935015
4        CGATAGCTG  GATAGCTGA   934208
...            ...        ...      ...
1021342  GCCCAGGCA  CCCAGGCAG        1
1021343  CGTCGTAGA  GTCGTAGAC        1
1021344  ATCGCGATA  TCGCGATAT        1
1021345  CTCGGGCTT  TCGGGCTTT        1
1021346  AGAGCACCT  GAGCACCTC        1

[1021347 rows x 3 columns]

In [28]:
for i in files:
    name = re.search('([^\/]+$)', i)[0]
    meta_data = name.split('_')
    print(meta_data)

['oligo', '1', '1w', 'rep3', '10mers', 'counts.csv']
['oligo', '1', '0w', 'rep7', '10mers', 'counts.csv']
['oligo', '1', 'bg', 'rep6', '10mers', 'counts.csv']
['oligo', '1', '3w', 'rep6', '10mers', 'counts.csv']
['oligo', '1', '0w', 'rep1', '10mers', 'counts.csv']
['oligo', '1', '1w', 'rep5', '10mers', 'counts.csv']
['oligo', '1', 'bg', 'rep7', '10mers', 'counts.csv']
['oligo', '1', '0w', 'rep6', '10mers', 'counts.csv']
['oligo', '1', '1w', 'rep2', '10mers', 'counts.csv']
['oligo', '1', '3w', 'rep1', '10mers', 'counts.csv']
['oligo', '1', '3w', 'rep7', '10mers', 'counts.csv']
['oligo', '1', '1w', 'rep4', '10mers', 'counts.csv']
['oligo', '1', 'bg', 'rep1', '10mers', 'counts.csv']
['oligo', '1', '3w', 'rep2', '10mers', 'counts.csv']
['oligo', '1', '0w', 'rep5', '10mers', 'counts.csv']
['oligo', '1', 'bg', 'rep4', '10mers', 'counts.csv']
['oligo', '1', '1w', 'rep1', '10mers', 'counts.csv']
['oligo', '1', '1w', 'rep7', '10mers', 'counts.csv']
['oligo', '1', 'bg', 'rep2', '10mers', 'counts.csv']
['oligo', '1', '0w', 'rep3', '10mers', 'counts.csv']
['oligo', '1', '3w', 'rep4', '10mers', 'counts.csv']
['oligo', '1', '3w', 'rep3', '10mers', 'counts.csv']
['oligo', '1', 'bg', 'rep5', '10mers', 'counts.csv']
['oligo', '1', '0w', 'rep4', '10mers', 'counts.csv']
['oligo', '1', '0w', 'rep2', '10mers', 'counts.csv']
['oligo', '1', 'bg', 'rep3', '10mers', 'counts.csv']
['oligo', '1', '1w', 'rep6', '10mers', 'counts.csv']
['oligo', '1', '3w', 'rep5', '10mers', 'counts.csv']

In [104]:
df_list = []
for i in files:
    # getting meta data
    name = re.search('([^\/]+$)', i)[0]
    meta_data = name.split('_')
    substrate = '_'.join([meta_data[0], meta_data[1]])
    condition = meta_data[2]
    rep = meta_data[3].replace('rep','')
    k = meta_data[4].replace('mers','')
    # add meta data to the table
    df = pd.read_csv(i)
    df[['substrate','condition','rep','k']] = [substrate, condition, rep, k]
    df_list.append(df)

In [108]:
df_list[1]

            node1      node2   count substrate condition rep   k
0       AAAACAAAA  AAACAAAAA  870804   oligo_1        0w   7  10
1       GATAGCTGA  ATAGCTGAG  440569   oligo_1        0w   7  10
2       TAGCTGAGA  AGCTGAGAG  440451   oligo_1        0w   7  10
3       AGCTGAGAG  GCTGAGAGA  440197   oligo_1        0w   7  10
4       GCGATAGCT  CGATAGCTG  440138   oligo_1        0w   7  10
...           ...        ...     ...       ...       ...  ..  ..
934359  CGCTAGGAC  GCTAGGACA       1   oligo_1        0w   7  10
934360  CTAGGACAA  TAGGACAAA       1   oligo_1        0w   7  10
934361  CCTTGTGTC  CTTGTGTCG       1   oligo_1        0w   7  10
934362  TACCACGCT  ACCACGCTG       1   oligo_1        0w   7  10
934363  ACCGATAAA  CCGATAAAT       1   oligo_1        0w   7  10

[934364 rows x 7 columns]

In [109]:
combined_long = pd.concat(df_list).reset_index(drop=True)
# convert nodes to edge
combined_long['edge'] = combined_long['node1']+combined_long['node2'].str.rstrip().str[-1]
combined_long = combined_long.drop(['node1','node2'], axis=1)

In [110]:
combined_long

            count substrate condition rep   k        edge
0         1851355   oligo_1        1w   3  10  AAAACAAAAA
1          935158   oligo_1        1w   3  10  GATAGCTGAG
2          935029   oligo_1        1w   3  10  GCGATAGCTG
3          935015   oligo_1        1w   3  10  TAGCTGAGAG
4          934208   oligo_1        1w   3  10  CGATAGCTGA
...           ...       ...       ...  ..  ..         ...
27475629        1   oligo_1        3w   5  10  TGCAACCCCA
27475630        1   oligo_1        3w   5  10  CACCCGCGAC
27475631        1   oligo_1        3w   5  10  CAGGTGGAAC
27475632        1   oligo_1        3w   5  10  CTACCTGGGG
27475633        1   oligo_1        3w   5  10  CGAACCGCAT

[27475634 rows x 6 columns]

In [111]:
# pivot count data to long format
combined_wide = combined_long.pivot(index=['edge'], columns=['condition','rep'], values='count').reset_index()

In [112]:
combined_wide

condition        edge     1w     0w     bg     3w     0w     1w     bg     0w  \
rep                        3      7      6      6      1      5      7      6
0          AAAAAAAAAA  627.0  239.0  200.0  308.0  564.0  553.0  252.0  203.0
1          AAAAAAAAAC  250.0   71.0   71.0  122.0  196.0  209.0  103.0   74.0
2          AAAAAAAAAG    7.0    4.0    9.0    3.0   10.0    5.0    6.0    3.0
3          AAAAAAAAAT  305.0  112.0   94.0  157.0  187.0  220.0  118.0  102.0
4          AAAAAAAACA  297.0   88.0   88.0  154.0  211.0  242.0  124.0   90.0
...               ...    ...    ...    ...    ...    ...    ...    ...    ...
1048571    TTTTTTTTGT   22.0   51.0    9.0   58.0   25.0   36.0   32.0   23.0
1048572    TTTTTTTTTA   30.0   88.0   25.0  113.0   40.0   53.0   47.0   56.0
1048573    TTTTTTTTTC   19.0   78.0   26.0  119.0   40.0   61.0   46.0   44.0
1048574    TTTTTTTTTG   41.0  121.0   37.0  184.0   63.0   91.0   67.0   58.0
1048575    TTTTTTTTTT   44.0  149.0   50.0  212.0   73.0  103.0   80.0   70.0

condition     1w  ...     bg     0w     3w            bg     0w            bg  \
rep            2  ...      2      3      4      3      5      4      2      3
0          340.0  ...  723.0  377.0  491.0  765.0  579.0  472.0  622.0  389.0
1          131.0  ...  290.0  135.0  194.0  325.0  215.0  218.0  270.0  141.0
2            9.0  ...   13.0    9.0    8.0   15.0    6.0   16.0    8.0    6.0
3          153.0  ...  324.0  177.0  245.0  342.0  199.0  192.0  261.0  183.0
4          155.0  ...  343.0  174.0  243.0  384.0  240.0  252.0  316.0  175.0
...          ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
1048571      8.0  ...   40.0   21.0   77.0   11.0   27.0   61.0   30.0   20.0
1048572     12.0  ...   40.0   30.0  115.0   19.0   50.0  112.0   43.0   37.0
1048573     19.0  ...   34.0   24.0  119.0   22.0   37.0   95.0   33.0   30.0
1048574     22.0  ...   66.0   41.0  163.0   23.0   74.0  136.0   64.0   44.0
1048575     25.0  ...   62.0   33.0  172.0   24.0   96.0  160.0   52.0   42.0

condition     1w     3w
rep            6      5
0          245.0  608.0
1           89.0  233.0
2            6.0   11.0
3          116.0  256.0
4          111.0  286.0
...          ...    ...
1048571     52.0  121.0
1048572     91.0  233.0
1048573     88.0  203.0
1048574    147.0  304.0
1048575    188.0  384.0

[1048576 rows x 29 columns]

In [113]:
# flatten multi-index columns
combined_wide.columns = combined_wide.columns.map('_'.join).str.strip('_')
# reorder columns lexicographically
combined_wide = combined_wide.reindex(sorted(combined_wide.columns), axis=1)
# move node columns back to front
combined_wide = combined_wide.set_index(['edge']).reset_index()
# convert floats back to int
num_cols = combined_wide.columns[combined_wide.dtypes.eq('float64')]
combined_wide[num_cols] = combined_wide[num_cols].fillna(0).astype(int)

In [96]:
combined_wide

,edge,0w_1,0w_2,0w_3,0w_4,0w_5,0w_6,0w_7,1w_1,1w_2,...,3w_5,3w_6,3w_7,bg_1,bg_2,bg_3,bg_4,bg_5,bg_6,bg_7
0,AAAAAAAAAA,564,622,377,472,551,203,239,608,340,...,608,308,357,634,723,389,462,579,200,252
1,AAAAAAAAAC,196,270,135,218,165,74,71,240,131,...,233,122,133,203,290,141,170,215,71,103
2,AAAAAAAAAG,10,8,9,16,10,3,4,13,9,...,11,3,5,9,13,6,14,6,9,6
3,AAAAAAAAAT,187,261,177,192,185,102,112,279,153,...,256,157,164,230,324,183,220,199,94,118
4,AAAAAAAACA,211,316,174,252,198,90,88,291,155,...,286,154,164,220,343,175,196,240,88,124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048571,TTTTTTTTGT,25,30,21,61,57,23,51,21,8,...,121,58,75,39,40,20,18,27,9,32
1048572,TTTTTTTTTA,40,43,30,112,81,56,88,34,12,...,233,113,140,37,40,37,34,50,25,47
1048573,TTTTTTTTTC,40,33,24,95,72,44,78,33,19,...,203,119,150,32,34,30,40,37,26,46
1048574,TTTTTTTTTG,63,64,41,136,107,58,121,45,22,...,304,184,219,52,66,44,48,74,37,67
1048575,TTTTTTTTTT,73,52,33,160,122,70,149,27,25,...,384,212,310,70,62,42,60,96,50,80

In [97]:
combined_wide.to_csv(f'{out_prefix}_wide.csv', index=False)