In [2]:
import networkx as nx
from Bio import SeqIO
import pandas as pd

In [25]:
def check_motif(seq, n1, n2):
    edge = n1+n2[-1]
    #print(edge)
    if edge in seq:
        return(1)
    return(0)

In [1]:
dbg_file = '../guaymas/results/NylonHits_7mers_unique.csv'
consensus_seq_fasta = '../guaymas/results/NylonHits_consensus.fasta'

In [14]:
cons_seq = str(next(SeqIO.parse(consensus_seq_fasta, "fasta")).seq)
cons_seq

'AEDFTWQPATPESQGMDSAALDAMRDELAARDTKTLLIVRNDRIVYEWYAPGHGPDKRHYTASLAYTASLAKALVGGMSLLLALNDGRMRVDDPACKYVPEWKEHPSKSRITIRHLATHSSGIEDAEQDGLPHGELPGWKGAFWRKEPDPFTIARDKTPLLFKPGSGYLYSNPGIAMLGYIITLVLQSTPFKDISTYLRERIMTPIGISETDWSCGYRKFFLIKGLKMVATWGGGEYTARAVARVGRLMLRKGNWEGRQLIRPEMVEQVVSYAGTPLPDRPAGNPQPGSGLGFWVNFDRVWKKVPKDAFGGAGAGNQVLLVVPSLDLIIVRNGNVIGDPEKGEGFWGGLEKYLFNPVMEAIVDTPVKPLGEKGPPYPPSPVIKRVAWAPKETIIRKGRGSDNWPMTWADDDNQYTAYGDGWGFEPRTEKKLSLGFAKVLGGPERFRGVNIRSETGERTGDGRHGAKASGMLMVDGVLYMWVRNVGNSQLAWSEDHGKTWEWGFKFETSFGCPTFLNFGRNYEGARDDYVYTYSQDGPSAYESYDGMVLARVHKNLLKNRDAYEFFVRLDESGEPTWTKDIDQRGPVFTNPKGCQRSDVVYNPGLRRYLMALAHNHQGSWGIYEAPEPWGPWTTAFHTRGWGLGNTHGYRLPSKWISKDGLTMYLVFSGRPHNGVVWDAFCVRRARIITA'

In [21]:
dbg = pd.read_csv(dbg_file)
dbg

          node1    node2  count
0       HYTASLA  YTASLAK     67
1       YTASLAK  TASLAKA     66
2       APEPWGP  PEPWGPW     58
3       HLATHSS  LATHSSG     54
4       LAKALVG  AKALVGG     51
...         ...      ...    ...
151917  TEGVWVL  EGVWVLE      1
151918  LTEGVWV  TEGVWVL      1
151919  SLTEGVW  LTEGVWV      1
151920  GSLTEGV  SLTEGVW      1
151921  AADAKRV  ADAKRVK      1

[151922 rows x 3 columns]

In [26]:
dbg['consensus'] = [check_motif(cons_seq, i, j) for i, j in zip(dbg['node1'], dbg['node2'])]
dbg

          node1    node2  count  consensus
0       HYTASLA  YTASLAK     67          0
1       YTASLAK  TASLAKA     66          1
2       APEPWGP  PEPWGPW     58          1
3       HLATHSS  LATHSSG     54          1
4       LAKALVG  AKALVGG     51          1
...         ...      ...    ...        ...
151917  TEGVWVL  EGVWVLE      1          0
151918  LTEGVWV  TEGVWVL      1          0
151919  SLTEGVW  LTEGVWV      1          0
151920  GSLTEGV  SLTEGVW      1          0
151921  AADAKRV  ADAKRVK      1          0

[151922 rows x 4 columns]