In [5]:
import pandas as pd
import numpy as np

In [2]:
file = '../oligo/results/thresholded/oligo_1_10mer_graph_fdr1e-10.csv'
df = pd.read_csv(file)
df

           node1      node2     log2fc
0      AAAACAAAA  AAACAAAAA  21.471581
1      TAGCTGAGA  AGCTGAGAG  20.483259
2      GATAGCTGA  ATAGCTGAG  20.483116
3      GCGATAGCT  CGATAGCTG  20.481784
4      ATAGCTGAG  TAGCTGAGA  20.481490
...          ...        ...        ...
12931  CCGGGGAGG  CGGGGAGGT   3.658519
12932  TGGGTGGGT  GGGTGGGTA   3.395485
12933  ACGGGTGGG  CGGGTGGGG   3.638341
12934  AGAGGGGGG  GAGGGGGGG   4.953480
12935  CGTGGGGGG  GTGGGGGGG   4.818017

[12936 rows x 3 columns]

In [6]:
cut_len = np.floor(len(df)*0.05)
cut_len

646.0

In [20]:
df['edge'] = [i[1:] for i in df.node1]
df['nt_div'] = [len(set(i)) for i in df.edge]
df_sorted = df.sort_values(['nt_div','log2fc'], ascending=False)
df_sorted

           node1      node2     log2fc      edge  nt_div
1      TAGCTGAGA  AGCTGAGAG  20.483259  AGCTGAGA       4
2      GATAGCTGA  ATAGCTGAG  20.483116  ATAGCTGA       4
3      GCGATAGCT  CGATAGCTG  20.481784  CGATAGCT       4
4      ATAGCTGAG  TAGCTGAGA  20.481490  TAGCTGAG       4
5      CGATAGCTG  GATAGCTGA  20.481323  GATAGCTG       4
...          ...        ...        ...       ...     ...
2949   TGGGGGGGG  GGGGGGGGC   2.732628  GGGGGGGG       1
3969   AGGGGGGGG  GGGGGGGGC   1.882154  GGGGGGGG       1
10652  GGGGGGGGG  GGGGGGGGC   1.784291  GGGGGGGG       1
706    AGGGGGGGG  GGGGGGGGC   0.953044  GGGGGGGG       1
5028   AGGGGGGGG  GGGGGGGGT   0.823819  GGGGGGGG       1

[12936 rows x 5 columns]

In [15]:
from collections import defaultdict
div_lst = []
nt_dct = defaultdict(int)
for i in range(int(cut_len/10)):
    for nt in df.edge[i]:
        nt_dct[nt] += 1
    print(len(nt_dct))

2
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4
4